/* @import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap'); */

html, body {
  margin: 0;
  padding: 0;
  background-color: #f9fbff;
}

body {
  /* font-family: 'Recursive', sans-serif;, monospace; */
  /* font-family: 'Work Sans', sans-serif;*/
  font-family: 'Inter', sans-serif;
}

table {
  border-collapse: separate;
  border-spacing: 20px;
}

.progress {
  font-size: 0.85em;
  color: #668;
  margin:1.6em;
}
.redo {
  color: #557;
  margin: 1.6em;
}

.progress div {
  display: inline-block;
  margin: 0 0.5em;
}
@keyframes blinking {
  0% {
    border-left: 2px solid #668;
 }
  50% {
     border-left: 2px solid rgba(255,255,255,0);
  }
  100% {
    border-left: 2px solid #668;
  }
}
.wip {
  color: #668;
  animation: blinking 1s infinite;
/*   animation-duration: 2s; */
  border-left: 2px solid #668;
/*   border-left: 2px solid #99a; */
  padding: 2px 0px;
/*   font-weight: 700; */
}
.done {
  color: #ccd;
/*   color: #449988; */
/*   font-weight: 700; */
}

html, body {
  width: 100%;
}
.container {
  margin: 0 auto 200px;
  max-width: 742px;
/*   min-width: 700px; */
}

nav {
  text-align: center;
  margin: 1em 1em 1.8em;
}
nav a, .sub-nav a {
  color: #000;
  margin: 0.6em;
  font-weight: 550;
  line-height: 2em;
  text-decoration: none;
}
nav a:hover, .sub-nav a:hover {
  /* text-decoration: underline; */
  border-bottom: 2px solid #668;
}
.nav-link:hover {
  border-bottom: 2px solid #668;
}
.logomark {
/*   font-weight: 700; */
  font-size: 1.6em;
  font-weight: 500;

  background: url(/images/zoo_logo.svg);
  display: block;
  background-size: 52px 52px;
  width: 52px;
  height: 52px;
  margin: 0 auto; 
}
.container-cell {
  margin: 2em auto;
}
.project {
  text-align: center;
  margin: 2em auto;
  font-weight: 500;
}
.title {
  line-height: 1.6em;
}
.description {
  font-size: 0.85em;
}

.post a, .post-date a, .nav-link, p > a {
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid #aab;

}
p > a:hover {
  border-bottom: 2px solid #668;
}

/* News */
.post {
}
.post-mark {
  margin: 1em auto;
  display: inline-block;
  width: 40px;
  height: 4px;
  border-top: 4px black solid;
}
.post-title {
  text-align: center;
  margin: 3em auto 0.7em;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2em;
  max-width: 9em;
}
.post-content {
  display: flex;
  margin: 0 auto;
  font-size: 1em;
}
.post-content-column-full {
  /* font-size: 0.85em; */
  text-align: left;
  font-weight: 400;
  /* width: 96.5%; */
  margin: 0.4em 0.4em;
}
.post-content-column {
  /* font-size: 0.85em; */
  text-align: left;
  font-weight: 400;
  margin: 0.4em 0.4em;
}
.post-content-column-text {
  /* font-size: 0.85em; */
  text-align: left;
  font-weight: 400;
  width: 48%;
  margin: 0.4em 0.4em;
}
.post-date {
  text-align: center;
  font-size: 0.85em;
}
.post-image-full {
  width: 100%;
}
.image-bg-pink {
  background-color: #dfcccc;
}

@media (max-width: 768px) {
  .post-content,
  .post-content-column,
  .post-content-column-full,
  .post-content-column-text {
    display: block;
    width: 96%;
    margin-left: 2%;
  } 
  .post-content-column p {
  }
}

/* more posts */

.post-warning {
  width: 100%;
  background-color: #f5f5bf;
  text-align: center;
  padding: 0 1.4em;
}

.post-warning-icon {
  display: inline-block;
}

/* lists */

ul {
  margin: 0;
}
ul {
  list-style-type: none;
}
ul > li {
  text-indent: -2.5em;
}
ul > li:before {
  content: "– ";
  text-indent: -2.5em;
}

/* File Downloads */

.file-downloads {
  width: 100%;
  background-color: #e9ebef;
  padding: 1.4em;
  text-align: center;
  border-radius: 4px;
}

.file-downloads-description {
  display: block;
}

.file-downloads a {
  display: inline-block;
  /*margin: 1em;*/
  padding: 1em;
  background-color: #d9dbef;
}
